<%= provide(:title, "Sign in") %>

<section id="signin">
	<%= form_for(:session, url: sessions_path) do |f| %>
	
		<%= select_tag "user_type", options_for_select(["Trainer", "Client"], (params[:user_class].to_s || 'Client')) %>
		<div id="user_type_switch">
			<div id="trainer">Trainer</div>
			<div id="client">Client</div>
		</div>
		<label for="<%= :email %>">
			<strong>Email</strong>
			<% if params[:user_id] %>
			  <%= f.text_field :email, :value => params[:user_id], :type => "email" %>
			<% else %>
			  <%= f.text_field :email, :placeholder => "Email", :type => "email" %>
			<% end %>
		</label>
		
		<label for="<%= :password %>">
			<strong>Password</strong>
			<%= f.password_field :password, :placeholder => "Password" %>
		</label>
		
		<%= f.submit "Sign in", id: 'submit' %>
		
	<% end %>
</section>