<% provide(:title, @schedule.scheduled_date) %>

<h2>Schedule for <%= link_to @schedule.client.name, schedule_path(@schedule) %> on <%= @schedule.scheduled_date %></h2>

<%= render :partial => 'shared/errors', :locals => { :user => @schedule } %>

<%= nested_form_for @schedule do |f| %>

	<p><%= f.link_to_add "Add Exercise", :exercises %></p>
		
	<%= f.fields_for :exercises do |exercise_form| %>
		<%= exercise_form.label :circuit %>
		<%= exercise_form.number_field :circuit, { min: 1, step: 1 } %>
		<br>		
		<%= exercise_form.label :ex_order, "Order" %>
		<%= exercise_form.number_field :ex_order, { min: 1, step: 1 } %>
		<br>
		<%= exercise_form.label :name %>
		<%= exercise_form.text_field :name %>
		<br>
		<%= exercise_form.label :weight_or_intensity, "Weight/Intensity" %>
		<%= exercise_form.text_field :weight_or_intensity %>
		<br>
		<%= exercise_form.label :reps_or_duration, "Reps/Duration" %>
		<%= exercise_form.text_field :reps_or_duration %>
		<br>
		<%= exercise_form.label :comments, "Comments" %>
		<%= exercise_form.text_area :comments %>
		<br>
		<%= exercise_form.link_to_remove "Remove Exercise" %>
	<% end %>
	
	<br><%= f.submit "Create", class: 'btn btn-large btn-primary' %></br>
<% end %>