<% provide(:title, text: @schedule.scheduled_date) %>

<h1>Schedule for <%= link_to(@schedule.client.name, client_path(@schedule.client)) %> on <%= @schedule.scheduled_date %></h1>

<% if session[:user_class] == Trainer && @schedule.rendered.nil? %>
	<%= link_to 'Edit Schedule', edit_schedule_path(@schedule) %>
<% end %>

<table border="1">
		<tr>
			<td>Circuit</td>
			<td>Order</td>
			<td>Exercise</td>
			<td>Weight or Intensity</td>
			<td>Reps or Duration</td>
		</tr>

	<% @schedule.exercises.order(:circuit, :ex_order).each do |exercise| %>
  	<tr>
    	<td><%= exercise.circuit %></td>
    	<td><%= exercise.ex_order %></td>
    	<td><%= exercise.name %></td>
    	<td><%= exercise.weight_or_intensity %></td>
    	<td><%= exercise.reps_or_duration %></td>
  	</tr>
  <% end %>
</table>

<% if @schedule.rendered.nil? %>
	<p><h3>Indicate completion of this session</h3></p>
	<%= form_for @schedule, :url => complete_schedule_path(@schedule) do |f| %>
	
		<%= f.radio_button :rendered, true %>
		<%= f.label :rendered, "I received this training session on the scheduled date.", value: true%><br>
		<%= f.radio_button :rendered, false %>
		<%= f.label :rendered, "I cancelled this training session with less than 24 hours notice.", value: false %><br>
		
		<%= f.fields_for @schedule.client do |client_fields| %>
			<%= client_fields.label :email %>
			<%= client_fields.text_field :email %>
			
			<%= client_fields.label :password %>
			<%= client_fields.password_field :password %>
		<% end %>
		
		<%= f.submit "Submit" %>
	
	<% end %>

<% end %>