<% provide(:title, text: @schedule.scheduled_date) %>

<h1>Schedule for <%= link_to(@schedule.client.name, client_path(@schedule.client)) %> on <%= @schedule.scheduled_date %></h1>

<% if session[:user_class] == Trainer %>
	<%= link_to 'Edit Schedule', edit_schedule_path(@schedule) %>
	<%= link_to 'Mark as Complete', complete_schedule_path(@schedule) %>
<% end %>

<table border="1">
		<tr>
			<td>Circuit</td>
			<td>Order</td>
			<td>Exercise</td>
			<td>Weight or Intensity</td>
			<td>Reps or Duration</td>
		</tr>
	<% @schedule.exercises.each do |exercise| %>
  	<tr>
    	<td><%= exercise.circuit %></td>
    	<td><%= exercise.order %></td>
    	<td><%= exercise.name %></td>
    	<td><%= exercise.weight_or_intensity %></td>
    	<td><%= exercise.reps_or_duration %></td>
  	</tr>
  <% end %>
</table>