<%= will_paginate @clients %>
<ul class="clients"><% @clients.order(:name).each do |client| %>
	<li class="<%= client.trainers.include?(current_user) ? " training" : client.trainers == [] ? "" : " disabled" %>">
	<%- if session[:user_class] == Trainer %>
	  <%- if client.trainers.include? current_user %>
		<%= link_to client.name, client_path(client), :class => "client" %>
		<div class="options">
			<%= link_to "Schedule", edit_client_path(client), :class => "schedule" %>
			<%= link_to "Remove this client", remove_trainer_client_path(client), :confirm => "Are you sure you wish to remove " + client.name + " as a client?", :class => "remove" %>
		</div>
	<%- 	else %>
		<h3 class="client"><%= client.name %></h3>
		<div class="options">
			<%= link_to "Train this client", add_trainer_client_path(client), :class => "train" %> 
		</div>
	<%-		end
		else %>
			<h3 class="client"><%= client.name %></h3>
	<%- end %>
	</li>
<% end %></ul>




