<% provide(:title, @client.name) %>
<h2><%= link_to @client.name, @client %></h2>

<%= render :partial => 'shared/errors', :locals => { :user => @client } %>

<%= nested_form_for @client do |f| %>
	<%= f.submit "Save", :class => 'save' %>
	<div id="add_sessions">
		<%= f.link_to_add "Add Session", :schedules, :class => "add_session" %>
	</div>
	<h3>Current Sessions:</h3>
	<div id="current_sessions">
		<%= f.fields_for :schedules do |schedule_form| %>
			<%= schedule_form.date_select :scheduled_date %> 
			<%= schedule_form.link_to_remove "Remove" %>
		<% end %>
	</div>
	
	<%= f.submit "Save", :class => 'save' %>
<% end %>