<% provide(:title, @client.name) %>
<h2><%= link_to @client.name, @client %></h2>

<%= render :partial => 'shared/errors', :locals => { :user => @client } %>

<%= nested_form_for @client do |f| %>

	<p><%= f.link_to_add "Add Schedule", :schedules %></p>
		
	<%= f.fields_for :schedules do |schedule_form| %>
		<%= schedule_form.date_select :scheduled_date %> 
		<%= schedule_form.link_to_remove "Remove" %>
		
		<%= schedule_form.hidden_field :trainer_id %>
		<%= hidden_field_tag :trainer_id %>
		
	<% end %>
	
	<br><%= f.submit "Create", class: 'btn btn-large btn-primary' %></br>
<% end %>