<% provide(:title, @client.name) %>
<section class="client">
	<h2><%= yield(:title)%></h2>
	
	<% if session[:user_class] == Trainer %>
	<%= link_to "Edit Sessions", edit_client_path(@client), :class => "edit_sessions" %>
	<% end %>
	
	<ul class="client_sessions"><% @client.schedules.order("scheduled_date DESC").each do |schedule| %>
		<li><%= link_to schedule.scheduled_date.strftime("%B %d, %Y"), schedule_path(schedule), :class => "session" %> with <%= schedule.trainer.name %> <%= schedule_complete(schedule) %></li>
	<% end %></ul>
</section>