<% provide(:title, @client.name) %>
<h1><%= yield(:title)%></h1>

<%= nested_form_for @client do |f| %>
	<%= f.fields_for :schedules do |schedule_form| %>
		<%= schedule_form.text_field :scheduled_date %>
	<% end %>
	
	<p><%= f.link_to_add "Add Schedule", :schedules %></p>
	
	<%= f.submit "Create", class: 'btn btn-large btn-primary' %>
<% end %>

<ul><% @client.schedules.each do |schedule| %>
<li><%= link_to schedule.scheduled_date, schedule_path(schedule) %></li>
<% end %></ul>




