<% provide(:title, "Report" %>


<table>
  <tr>
    <td>Client</td>
    <td>Trainer</td>
    <td><%= link_to "Scheduled Date", sort: "scheduled_date" %></td>
    <td><%= link_to "Status", sort: "rendered" %></td>
    <td><%= link_to "Date last updated", sort: "updated_at" %></td>
  </tr>
  <% @schedules.each do |sched| %>
    <tr>
      <td><%= sched.client.name %></td>
      <td><% if sched.client.trainer %>
        <%= sched.client.trainer.name %>
      <% end %></td>
      <td><%= sched.scheduled_date %></td>
      <td><%= how_rendered(sched) %></td>
      <td><%= sched.updated_at %></td>
    </tr>
  <% end %>
</table>