<header class="navbar navbar-fixed-top">
	<div class="navbar-inner">
		<div class="title">
			The Sports Club/LA - Fitness Schedules
		</div>
		<div class="container">
			<nav>
				<ul class="nav pull-right">
					<li><%= link_to "Home", root_path %></li>
					<% if signed_in? %>
						<% if session[:user_class] == Trainer %>
							<li><%= link_to "Profile", trainer_path(Trainer.find(session[:user_id])) %></li>
							<li><%= link_to "Client Index", clients_path %></li>
						<% elsif session[:user_class] == Client %>
							<li><%= link_to "Profile", client_path(Client.find(session[:user_id])) %></li>
						<% else %>
							<li><%= link_to "Sign in", signin_path %></li>
						<% end %>						
						<li><%= link_to "Sign out", signout_path, method: "delete" %></li>
					<% else %>
						<li><%= link_to "Sign in", signin_path %></li>
					<% end %>
				</ul>
			</nav>
		</div>
	</div>
</header>

