<header>
		<h1>
			The Sports Club/LA - Fitness Schedules
		</h1>
		<nav>
			<%= link_to "Home", root_path %>
			<% if signed_in? %>
				<% if session[:user_class] == Trainer %>
					<%= link_to "Profile", trainer_path(Trainer.find(session[:user_id])) %>
					<%= link_to "Client Index", clients_path %>
					<% if current_user.admin == true %>
					  <%= link_to "Create New Trainer", new_trainer_path %>
					<% end %>
				<% elsif session[:user_class] == Client %>
					<%= link_to "Profile", client_path(Client.find(session[:user_id])) %>
				<% else %>
					<%= link_to "Sign in", signin_path %>
				<% end %>						
				<%= link_to "Sign out", signout_path, method: "delete" %>
			<% else %>
				<%= link_to "Sign in", signin_path %>
			<% end %>
		</nav>
</header>

